.pizza-cart-item {
  font-family: verdana, serif;
  font-size: 10px;
}

.btn-pizza-cart {
  padding: 0.25rem 0.25rem;
  font-size: 0.375rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

mat-sidenav {
  width: 25%;
}
